<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />

    <!-- Paypal -->
    <section name="paypal" type="PayPal.SDKConfigHandler, PayPal" />

    <sectionGroup name="telerik.web.ui">
      <section name="radCloudUpload" type="Telerik.Web.UI.CloudUploadConfigurationSection" allowDefinition="MachineToApplication" requirePermission="false"/>
      <section name="radSpreadsheet" type="Telerik.Web.UI.RadSpreadsheetConfigurationSection, Telerik.Web.UI, PublicKeyToken=121fae78165ba3d4" allowDefinition="MachineToApplication"/>
    </sectionGroup>
    
  </configSections>
  <paypal>
    <settings>
      <!-- Replace the mode to `security-test-sandbox` to test if your server supports TLSv1.2. For more information follow README instructions.-->
      <add name="mode" value="live" />
      <add name="connectionTimeout" value="360000" />
      <add name="requestRetries" value="1" />
      <add name="clientId" value="Adjece8LIICRJtfwp0UhG0kEY7j2p00Kl0PxSt5XyR2FPJb9ZiWj8KLR8FR0mTkGo6tCRNOCClbw-VlC" />
      <add name="clientSecret" value="EGR1DJ6vgjL953-VQ3_iagUtlGkGdXrJiH0q8ZdAmPuueg6zwyQQWOnp9Xok6e44G7UZxL1ld7vxGnnZ" />
    </settings>
  </paypal>
  <appSettings>

    <!-- PASconcept settings -->
    <add key="Titulo" value="PASconcept" />
    <add key="TituloWeb" value="PASconcept" />
    <add key="Debug" value="0" />
    <add key="googlemaps.subgurim.net" value="AIzaSyCrJsHpRPe6bKakapdsURngnfznERlAUxw" />

    <!-- SMTP Email-->
    <add key="webMasterEmail" value="jcarlos@axzes.com" />
    <add key="HostAppSite" value="https://pasconcept-webapp-staging.azurewebsites.net/" />
    <add key="SMTPPASconceptEmail" value="smtp.netfirms.com" />
    <add key="UserPASconceptEmail" value="info@pasconcept.com" />
    <add key="FromPASconceptEmail" value="info@pasconcept.com" />
    <add key="PasswordPASconceptEmail" value="Fernand0.1404" />
    <add key="EnableSslPASconceptEmail" value="0" />
    <add key="PortPASconceptEmail" value="587" />

    <!-- SMS Messages -->
    <add key="SMS" value="1" />
    <add key="SMS_user" value="axzes.com" />
    <add key="SMS_password" value="Fernand0." />
    <add key="SMS_from" value="15618994434" />
    <add key="SMS_from_old" value="19546355214" />
    <add key="SMS_from_old" value="19546355214" />
    <add key="SMS_mo" value="1" />
    <add key="SMS_Price" value="0.05" />
    <add key="Campaign_Price" value="0.01" />

    <add key="Telerik.ScriptManager.TelerikCdn" value="Enabled" />
    <add key="Telerik.ScriptManager.TelerikCdn.CombinedScript" value="Disabled" />
    <add key="Telerik.StyleSheetManager.TelerikCdn" value="Enabled" />
    <add key="Telerik.StyleSheetManager.TelerikCdn.CombinedResource" value="Enabled" />
    <add key="Telerik.Web.UI.RenderMode" value="lightweight" />

    <add key="Telerik.Web.UI.Editor.RenderMode" value="Auto" />
    <add key="Telerik.Web.UI.Button.RenderMode" value="Auto" />
    <add key="Telerik.Web.UI.Menu.RenderMode" value="Auto" />
    <add key="Telerik.Web.UI.Grid.RenderMode" value="Auto" />
    <add key="Telerik.Web.UI.ComboBox.RenderMode" value="Auto" />
    <!--<add key="Telerik.Web.UI.Scheduler.RenderMode" value="Auto" />-->
    <add key="Telerik.Skin" value="Bootstrap" />
    <add key="Telerik.Menu.Skin" value="Bootstrap" />
    <add key="Telerik.ToolTip.Skin" value="Default" />
    <add key="Telerik.WindowManager.Skin" value="Outlook"/>

    <!--
      RadMap Key
      https://www.bingmapsportal.com/Application#
      user:axzesllc@outlook.com
    -->
    <add key="BingMapKey" value="AtpMcdyaYre3azEE3Xzr-sEW_fMmffeeIuSzd_nE1l-Dnul-wlmZPjC2KhKC94Pi" />
    
  </appSettings>
  <connectionStrings>
    <remove name="LocalSqlServer" />
    <add name="cnnAspNetUsers" connectionString="Server=axzesu1server.database.windows.net;Database=pasconcept_users_db;User ID=axzesu1@axzesu1server;Password=P@ssw0rd;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;" providerName="System.Data.SqlClient" />
    <add name="cnnProjectsAccounting" connectionString="Server=axzesu1server.database.windows.net;Database=pasconcept_db;User ID=axzesu1@axzesu1server;Password=P@ssw0rd;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;" providerName="System.Data.SqlClient" />
    <add name="cnnEEG360" connectionString="Server=pliteserver.database.windows.net;Database=plite-db;User ID=axzesu1@pliteserver;Password=P@ssw0rd;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <customErrors mode="Off" />
    <authentication mode="None" />
    <compilation debug="true" strict="false" explicit="true" targetFramework="4.7.2" />
    <httpRuntime targetFramework="4.7.2" maxRequestLength="4096" executionTimeout="110" />
    <pages theme="Estandar">
      <namespaces>
        <add namespace="System.Web.Optimization" />
      </namespaces>
      <controls>
        <add assembly="Microsoft.AspNet.Web.Optimization.WebForms" namespace="Microsoft.AspNet.Web.Optimization.WebForms" tagPrefix="webopt" />
      <add tagPrefix="telerik" namespace="Telerik.Web.UI" assembly="Telerik.Web.UI" />
      </controls>
    </pages>
    <membership>
      <providers>
        <!--
	      ASP.NET Membership is disabled in this template. Please visit the following link https://go.microsoft.com/fwlink/?LinkId=301889 to learn about the ASP.NET Membership support in this template
        -->
        <clear />
      </providers>
    </membership>
    <profile>
      <providers>
        <!--
	      ASP.NET Membership Profile is disabled in this template. Please visit the following link https://go.microsoft.com/fwlink/?LinkId=301889 to learn about the ASP.NET Membership support in this template
        -->
        <clear />
      </providers>
    </profile>
    <roleManager>
      <!--
	        ASP.NET Membership Role is disabled in this template. Please visit the following link https://go.microsoft.com/fwlink/?LinkId=301889 to learn about the ASP.NET Membership support in this template
        -->
      <providers>
        <clear />
      </providers>
    </roleManager>
    <!--
            If you are deploying to a cloud environment that has multiple web server instances,
            you should change session state mode from "InProc" to "Custom". In addition,
            change the connection string named "DefaultConnection" to connect to an instance
            of SQL Server (including SQL Azure and SQL  Compact) instead of to SQL Server Express.
      -->
    <sessionState mode="InProc" customProvider="DefaultSessionProvider">
      <providers>
        <add name="DefaultSessionProvider" type="System.Web.Providers.DefaultSessionStateProvider, System.Web.Providers, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" />
      </providers>
    </sessionState>
    <machineKey validationKey="2BF4381E6FF11B9B3851359DCF62229932269D1CB82DA105A3008A7483DD2DE19D6DECF93D91E694EDC247546E3E5B04056F897AC14FEE274FBA5547A3B1C175" decryptionKey="87370549D6C12C1519799437CBAAF02FBB4E535E26199306" validation="SHA1" />
  <httpHandlers>
      <add path="ChartImage.axd" type="Telerik.Web.UI.ChartHttpHandler" verb="*" validate="false" />
      <add path="Telerik.Web.UI.SpellCheckHandler.axd" type="Telerik.Web.UI.SpellCheckHandler" verb="*" validate="false" />
      <add path="Telerik.Web.UI.DialogHandler.aspx" type="Telerik.Web.UI.DialogHandler" verb="*" validate="false" />
      <add path="Telerik.RadUploadProgressHandler.ashx" type="Telerik.Web.UI.RadUploadProgressHandler" verb="*" validate="false" />
      <add path="Telerik.Web.UI.WebResource.axd" type="Telerik.Web.UI.WebResource" verb="*" validate="false" /></httpHandlers>
  <httpModules /></system.web>
  <system.webServer>
    <modules>
      <remove name="FormsAuthentication" />
    </modules>
    <staticContent>
      <remove fileExtension=".woff" />
      <mimeMap fileExtension=".woff" mimeType="application/font-woff" />
      <remove fileExtension=".woff2" />
      <mimeMap fileExtension=".woff2" mimeType="font/woff2" />
    </staticContent>
  <validation validateIntegratedModeConfiguration="false" />
  <handlers>
      <remove name="ChartImage_axd" />
      
      <remove name="Telerik_Web_UI_SpellCheckHandler_axd" />
      <remove name="Telerik_Web_UI_DialogHandler_aspx" />
      <remove name="Telerik_RadUploadProgressHandler_ashx" />
      <remove name="Telerik_Web_UI_WebResource_axd" /><add name="ChartImage_axd" path="ChartImage.axd" type="Telerik.Web.UI.ChartHttpHandler" verb="*" preCondition="integratedMode" />
      <add name="Telerik_Web_UI_SpellCheckHandler_axd" path="Telerik.Web.UI.SpellCheckHandler.axd" type="Telerik.Web.UI.SpellCheckHandler" verb="*" preCondition="integratedMode" />
      <add name="Telerik_Web_UI_DialogHandler_aspx" path="Telerik.Web.UI.DialogHandler.aspx" type="Telerik.Web.UI.DialogHandler" verb="*" preCondition="integratedMode" />
      <add name="Telerik_RadUploadProgressHandler_ashx" path="Telerik.RadUploadProgressHandler.ashx" type="Telerik.Web.UI.RadUploadProgressHandler" verb="*" preCondition="integratedMode" />
      <add name="Telerik_Web_UI_WebResource_axd" path="Telerik.Web.UI.WebResource.axd" type="Telerik.Web.UI.WebResource" verb="*" preCondition="integratedMode" /></handlers>
  <security>
    <requestFiltering>
      <requestLimits maxAllowedContentLength="4194304" /></requestFiltering></security>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.WindowsAzure.Storage" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.2.0.0" newVersion="9.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Azure.KeyVault.Core" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Telerik.Windows.Documents.Flow" publicKeyToken="5803cfa389c90ce7" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2019.3.903.40" newVersion="2019.3.903.40" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Telerik.Windows.Documents.Core" publicKeyToken="5803cfa389c90ce7" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2019.3.903.40" newVersion="2019.3.903.40" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Telerik.Windows.Documents.Spreadsheet" publicKeyToken="5803cfa389c90ce7" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2019.3.903.40" newVersion="2019.3.903.40" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Telerik.Web.Spreadsheet" publicKeyToken="121fae78165ba3d4" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2019.3.917.40" newVersion="2019.3.917.40" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Telerik.Windows.Documents.Spreadsheet.FormatProviders.OpenXml" publicKeyToken="5803cfa389c90ce7" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2019.3.903.40" newVersion="2019.3.903.40" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <telerik.web.ui>
    <radCloudUpload>
      <storageProviders>
        <add name="Azure" type="Telerik.Web.UI.AzureProvider" accountKey="hwAAeswB6wU9E6nF1f2s33k40vp1A4Vo4XeWrkA/eXIuULghBFjzjl0En8QMAf1g3ndTBktzpAnM5sXMBA4qdQ==" accountName="pasconceptstorage" blobContainer="documents" subFolderStructure="2016" uncommitedFilesExpirationPeriod="4"/>
      </storageProviders>
    </radCloudUpload>
  </telerik.web.ui>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="50000000" />
      </webServices>
    </scripting>
  </system.web.extensions>
</configuration>