<?xml version="1.0"?>
<!--
  Publish information

 github repository:
    https://github.com/jcarlosaxzes/dalejandro.git
 user: jcarlosaxzes
 Primary Email: jcarlos@axzes.com
 others: jcxx, cabaiguan 
 
 hosting and redired:
 https://dalejandro.netlify.com/
 
 DNS:
 google/domains 
 user:cabaiguan.com
  -->


<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
  </system.web>
</configuration>