<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.web>
        <authorization>
          <allow users="fernando@easterneg.com" />
          <allow users="jcarlos@axzes.com" />
          <allow users="sandra@easterneg.com" />
          <allow users="matt@axzes.com" />
          <allow users="lilliam@axzes.com" />
          <allow users="daniel.work.2006@gmail.com" />
          <deny users="*" />
        </authorization>
    </system.web>
</configuration>